## Project Goals

Your client for this project is the HR Department at a software company.

    They want to try a new initiative to retain employees.
    The idea is to use data to predict whether an employee is likely to leave.
    Once these employees are identified, HR can be more proactive in reaching out to them before it's too late.
    They only want to deal with the data that is related to permanent employees.

Current Practice
Once an employee leaves, he or she is taken an interview with the name “exit interview” and shares reasons for leaving. The HR Department then tries and learns insights from the interview and makes changes accordingly.

This suffers from the following problems:

    This approach is that it's too haphazard. The quality of insight gained from an interview depends heavily on the skill of the interviewer.
    The second problem is these insights can't be aggregated and interlaced across all employees who have left.
    The third is that it is too late by the time the proposed policy changes take effect.


The HR department has hired you as data science consultants. They want to supplement their exit interviews with a more proactive approach.


### Your Role

    You are given datasets of past employees and their status (still employed or already left).
    Your task is to build a classification model using the datasets.
    Because there was no machine learning model for this problem in the company, you don’t have quantifiable win condition. You need to build the best possible model.


#### Problem Specifics
    Deliverable: Predict whether an employee will stay or leave.
    Machine learning task: Classification
    Target variable: Status (Employed/Left)
    Win condition: N/A (best possible model)

### Data Description

The Business Intelligence Analysts of the Company provided you three datasets that contain information about past employees and their status (still employed or already left).

    department_data

    This dataset contains information about each department. The schema of the dataset is as follows:
        dept_id – Unique Department Code
        dept_name – Name of the Department
        dept_head – Name of the Head of the Department

    employee_details_data

    This dataset consists of Employee ID, their Age, Gender and Marital Status. The schema of this dataset is as follows:
        employee_id – Unique ID Number for each employee
        age – Age of the employee
        gender – Gender of the employee
        marital_status – Marital Status of the employee

    employee_data

    This dataset consists of each employee’s Administrative Information, Workload Information, Mutual Evaluation Information and Status.

    Target variable
        status – Current employment status (Employed / Left)

    Administrative information
        department – Department to which the employees belong(ed) to
        salary – Salary level with respect to rest of their department
        tenure – Number of years at the company
        recently_promoted – Was the employee promoted in the last 3 years?
        employee_id – Unique ID Number for each employee

    Workload information
        n_projects – Number of projects employee has worked on
        avg_monthly_hrs – Average number of hours worked per month

    Mutual evaluation information
        satisfaction – Score for employee’s satisfaction with the company (higher is better)
        last_evaluation – Score for most recent evaluation of employee (higher is better)
        filed_complaint – Has the employee filed a formal complaint in the last 3 years?

#### Data Source
Download the DataSets onto Python by connecting to the below provided MySQL instance.
                      
host 	'projects.insaid.co'
user 	'student'
passwd 	'student'
database 	'Capstone2'

In [37]:
# Database 
import mysql.connector
from mysql.connector import Error

# ML
import pandas as pd
import numpy as np

In [38]:
tables = ['department_data', 'employee_details_data', 'employee_data']

In [39]:
try:
    mySQLconnection = mysql.connector.connect(host='projects.insaid.co',
                             database='Capstone2',
                             user='student',
                             password='student')
    
    if mySQLconnection.is_connected():
        db_Info = mySQLconnection.get_server_info()
        print("Connected to MySQL database... MySQL Server version on ",db_Info)
        cursor = mySQLconnection.cursor()
        cursor.execute("select database();")
        database = cursor.fetchone()
        print ("Your connected to - ", database)
        # for table in tables:
            # cursor.execute(sql_select_Query)
            # records = cursor.fetchall()
            # print (records)
        sql_select_Query = "select * from department_data"
        SQL_Query = pd.read_sql_query(sql_select_Query, mySQLconnection)
        df_departmentData = pd.DataFrame(SQL_Query)
        print(df_departmentData.head(3))
        
        sql_select_Query = "select * from employee_details_data"
        SQL_Query = pd.read_sql_query(sql_select_Query, mySQLconnection)
        df_employeeDetailsData = pd.DataFrame(SQL_Query)
        print(df_employeeDetailsData.head(3))

        sql_select_Query = "select * from employee_data"
        SQL_Query = pd.read_sql_query(sql_select_Query, mySQLconnection)
        df_employeeData = pd.DataFrame(SQL_Query)
        print(df_employeeData.head(3))
except Error as e :
    print ("Error while connecting to MySQL", e)
finally:
    #closing database connection.
    if(mySQLconnection .is_connected()):
        mySQLconnection.close()
        print("MySQL connection is closed")

Connected to MySQL database... MySQL Server version on  5.7.25-0ubuntu0.18.04.2
Your connected to -  ('Capstone2',)
  dept_id dept_name        dept_head
0  D00-IT        IT       Henry Adey
1  D00-SS     Sales  Edward J Bayley
2  D00-TP      Temp  Micheal Zachrey
   employee_id  age  gender marital_status
0       113558   43    Male        Married
1       112256   24  Female      Unmarried
2       112586   22  Female      Unmarried
   avg_monthly_hrs department  filed_complaint  last_evaluation  n_projects  \
0            246.0       None              NaN         0.866838           6
1            134.0       None              NaN         0.555718           2
2            156.0     D00-SS              1.0         0.474082           2

   recently_promoted  salary  satisfaction status  tenure  employee_id
0                NaN  medium      0.134415   Left     4.0       124467
1                NaN     low      0.511041   Left     3.0       112210
2                NaN  medium      0.405101   Left     3.0       126150
MySQL connection is closed

In [40]:
print (df_departmentData.shape)
print (df_employeeDetailsData.shape)
print (df_employeeData.shape)

(11, 3)
(14245, 4)
(14150, 11)

In [41]:
df_empData = pd.merge(df_employeeData, df_employeeDetailsData, on="employee_id")

In [42]:
print (df_empData.head())

   avg_monthly_hrs department  filed_complaint  last_evaluation  n_projects  \
0            246.0       None              NaN         0.866838           6
1            134.0       None              NaN         0.555718           2
2            156.0     D00-SS              1.0         0.474082           2
3            256.0     D00-SP              NaN         0.961360           6
4            146.0     D00-SS              NaN         0.507349           2

   recently_promoted  salary  satisfaction status  tenure  employee_id  age  \
0                NaN  medium      0.134415   Left     4.0       124467   42
1                NaN     low      0.511041   Left     3.0       112210   23
2                NaN  medium      0.405101   Left     3.0       126150   24
3                NaN     low      0.152974   Left     4.0       125346   51
4                NaN  medium      0.434845   Left     3.0       113707   23

   gender marital_status
0  Female        Married
1  Female      Unmarried
2  Female      Unmarried
3  Female        Married
4  Female      Unmarried

In [43]:
df = df_empData.merge(df_departmentData, left_on='department', right_on='dept_id')

In [44]:
print (df.head())

   avg_monthly_hrs department  filed_complaint  last_evaluation  n_projects  \
0            156.0     D00-SS              1.0         0.474082           2
1            146.0     D00-SS              NaN         0.507349           2
2            281.0     D00-SS              NaN         0.907965           6
3            269.0     D00-SS              NaN         0.959077           4
4            256.0     D00-SS              NaN         0.897617           5

   recently_promoted  salary  satisfaction status  tenure  employee_id  age  \
0                NaN  medium      0.405101   Left     3.0       126150   24
1                NaN  medium      0.434845   Left     3.0       113707   23
2                NaN  medium      0.105749   Left     4.0       122394   50
3                NaN  medium      0.960757   Left     5.0       126860   25
4                NaN  medium      0.753731   Left     5.0       110655   24

   gender marital_status dept_id dept_name        dept_head
0  Female      Unmarried  D00-SS     Sales  Edward J Bayley
1  Female      Unmarried  D00-SS     Sales  Edward J Bayley
2  Female        Married  D00-SS     Sales  Edward J Bayley
3  Female      Unmarried  D00-SS     Sales  Edward J Bayley
4  Female      Unmarried  D00-SS     Sales  Edward J Bayley

In [45]:
print (df_empData.shape)

(14145, 14)